Django
djangorestframework
djangorestframework-api-key
drf-spectacular

django-cors-headers

django-silk
pydantic
google-genai

django-redis
redis

python-dotenv
psycopg2-binary

gunicorn
whitenoise[brotli]